In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as py

In [2]:
data = pd.read_csv("athlete_events.csv")

In [14]:
data.Season.value_counts()

Summer    222552
Winter     48564
Name: Season, dtype: int64

In [15]:
data

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [16]:
data.dtypes

ID          int64
Name       object
Sex        object
Age       float64
Height    float64
Weight    float64
Team       object
NOC        object
Games      object
Year        int64
Season     object
City       object
Sport      object
Event      object
Medal      object
dtype: object

In [19]:
data.drop(data[data.Season == 'Winter'].index, inplace=True)

In [20]:
data

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
26,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271106,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN
271107,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN
271108,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271109,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271110,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN

In [21]:
data.drop(data[data.Year < 2000].index, inplace = True)

In [23]:
data.isnull().sum()

ID            0
Name          0
Sex           0
Age           3
Height      654
Weight      905
Team          0
NOC           0
Games         0
Year          0
Season        0
City          0
Sport         0
Event         0
Medal     57457
dtype: int64

In [24]:
data

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
31,12,Jyri Tapani Aalto,M,31.0,172.0,70.0,Finland,FIN,2000 Summer,2000,Summer,Sydney,Badminton,Badminton Men's Singles,NaN
33,13,Minna Maarit Aalto,F,34.0,159.0,55.5,Finland,FIN,2000 Summer,2000,Summer,Sydney,Sailing,Sailing Women's Windsurfer,NaN
57,18,Timo Antero Aaltonen,M,31.0,189.0,130.0,Finland,FIN,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Men's Shot Put,NaN
79,21,Ragnhild Margrethe Aamodt,F,27.0,163.0,NaN,Norway,NOR,2008 Summer,2008,Summer,Beijing,Handball,Handball Women's Handball,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271105,135565,Fernando scar Zylberberg,M,23.0,168.0,76.0,Argentina,ARG,2000 Summer,2000,Summer,Sydney,Hockey,Hockey Men's Hockey,NaN
271106,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN
271108,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271109,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271110,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN

In [27]:
data.Height.describe()

count    66820.000000
mean       176.112451
std         11.455967
min        133.000000
25%        168.000000
50%        176.000000
75%        184.000000
max        226.000000
Name: Height, dtype: float64

In [40]:
data.Event.value_counts().head(60)

Football Men's Football                            1337
Hockey Men's Hockey                                 971
Hockey Women's Hockey                               895
Football Women's Football                           888
Handball Men's Handball                             881
Handball Women's Handball                           813
Water Polo Men's Water Polo                         769
Cycling Men's Road Race, Individual                 729
Basketball Men's Basketball                         717
Volleyball Men's Volleyball                         712
Basketball Women's Basketball                       711
Volleyball Women's Volleyball                       703
Baseball Men's Baseball                             574
Athletics Men's Marathon                            556
Athletics Women's Marathon                          490
Water Polo Women's Water Polo                       488
Athletics Men's 4 x 100 metres Relay                436
Athletics Men's 4 x 400 metres Relay                428
Athletics Men's 100 metres                          417
Gymnastics Women's Balance Beam                     416
Gymnastics Women's Individual All-Around            414
Gymnastics Women's Floor Exercise                   412
Gymnastics Women's Uneven Bars                      411
Swimming Men's 50 metres Freestyle                  400
Swimming Women's 50 metres Freestyle                399
Swimming Men's 4 x 100 metres Medley Relay          396
Athletics Women's 100 metres                        391
Swimming Men's 4 x 100 metres Freestyle Relay       391
Swimming Women's 4 x 100 metres Medley Relay        384
Gymnastics Men's Individual All-Around              384
Equestrianism Mixed Jumping, Individual             378
Gymnastics Men's Pommelled Horse                    377
Athletics Women's 4 x 100 metres Relay              377
Gymnastics Men's Parallel Bars                      376
Gymnastics Men's Horizontal Bar                     375
Rowing Men's Coxed Eights                           374
Athletics Women's 4 x 400 metres Relay              373
Gymnastics Men's Floor Exercise                     372
Swimming Men's 4 x 200 metres Freestyle Relay       370
Swimming Women's 4 x 200 metres Freestyle Relay     368
Gymnastics Men's Rings                              363
Softball Women's Softball                           358
Synchronized Swimming Women's Team                  346
Table Tennis Women's Singles                        345
Table Tennis Men's Singles                          344
Swimming Women's 4 x 100 metres Freestyle Relay     343
Gymnastics Women's Team All-Around                  336
Gymnastics Men's Team All-Around                    335
Rhythmic Gymnastics Women's Group                   332
Cycling Women's Road Race, Individual               324
Swimming Men's 100 metres Freestyle                 321
Equestrianism Mixed Three-Day Event, Individual     321
Archery Men's Individual                            320
Tennis Women's Singles                              320
Tennis Men's Singles                                320
Archery Women's Individual                          320
Rowing Women's Coxed Eights                         317
Athletics Men's 200 metres                          315
Tennis Women's Doubles                              314
Athletics Men's 50 kilometres Walk                  312
Name: Event, dtype: int64

In [ ]:
swimming
basketball
hockey
football
athletics
weightlifting
gymnastics
water polo
tennis
archery
badminton